TORQUE_LAB_SSH=ssh://root@141.105.65.227
TORQUE_LAB_SSH_IDENTITY=/var/lib/jenkins/torque/keys/host_ed25519
TORQUE_JENKINS_PG_LOCAL_PORT=15432
TORQUE_JENKINS_PG_CONTROL=/tmp/torque-jenkins-pg.ctl
TORQUE_JENKINS_BACKUP_RUNTIME=runtime
TORQUE_JENKINS_SKIP_BASE_STACK=1
TORQUE_FIRECRACKER_PG_PRIMARY_HOST=172.31.240.10
